﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <form id="frm-info" action="/" method="post">
            @Html.TextBox("FirstName", null, new { @id = "txt-firstname" })
            @Html.TextBox("LastName", null, new { @id = "txt-lastname" })
            <input id="btn-submit" type="button" name="submit" value="sumbit" />
        </form>
    </div>
    <div class="col-md-6">
        <form id="frm-generate" action="/" method="post">
            @Html.TextBox("Label", null, new { @id = "txt-label" })
            <input id="btn-submit-generate" type="button" name="generate" value="Generate" />
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <form id="frm-student" action="/" method="post">
            <input type="text" name="Name"  />
            <input type="text" name="Mark"  />
            <input id="btn-student" type="button" name="student" value="student" />
        </form>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $("#btn-student").on("click", function () {
            var name = $("txt-name").val();
            var mark = $("txt-mark").val();

            var studentData = $("#frm-student").serialize();

            $.post("/Home/AddStudent", studentData, function (value) {
                console.log(value);
            })

            //studentData.Name = name;
            //studentData.Mark = mark;

            
        })


        $("#btn-submit-generate").on("click", function () {

            $.get("/Home/Generator/", null, function (value) {
                console.log(value);
                $("#txt-label").val(value);
            })

        })


                //$("#btn-submit").on("click", function (e) {
                //    e.preventDefault();
                //    console.log("button was clicked!");

                //    var firstname = $("#txt-firstname").val();
                //    var lastname = $("#txt-lastname").val();

                //    var data = new Object();
                //    data.firstname = firstname;
                //    data.lastname = lastname;


                //    //$.get("/Home/GetUserName", data, function (value) {
                //    //    //data-данные отправляемые на сервер
                //    //    //value - принимаемые данные с сервера
                //    //    console.log(value);
                //    //});

                //    $.ajax({
                //        type: "GET",
                //        url: "/Home/Generator",
                //        contentType: "application/json; charset=uft-8",
                //        data: data,
                //        success: function (value) {
                //            console.log(value);
                //        },
                //        error: function (error) {
                //            alert("Server Error");
                //        }

                //    })

                //});
    </script>
}
